<!DOCTYPE html>
<html ng-app="noteApp">
<head>
    <meta charset="utf-8"/>
    <title>AngularJS nodepad</title>
    <link rel="stylesheet" href="app/styles/home.css"/>
    <script src="app/vendor/requirejs/require.js" data-main="app/javascript/app.js" type="text/javascript"
            charset="utf-8"></script>
</head>

<body>
<h1 class="title">The Note Making App</h1>
<notepad></notepad>

<div class="select-container" ng-controller="SelectController">
    <pre>{{demos | json}}</pre>
    <select ie-select-fix="options" ng-model="demos" class="select-fix"
            ng-options="currOption.value as currOption.text for currOption in options">
    </select>
    <button class="btn" type="button" ng-click="changeOptions()">change options</button>
</div>

</body>

</html>
